#home-component{
    background:url('../../img/santiago_bernabeu.jpg') no-repeat center center /cover;
    height:30vh;
}
@media (max-width:500px){
    #home-component h1{
        font-size:25px;
    }
}